
*,
*::before,
*::after{
  box-sizing: border-box;
}

li{
    display: inline-block;
    height: 40px;    
    padding: 0 10px;
}
a{
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
nav{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 2rem;
  transform: rotateY(-50%);
}
.divH{
  position: relative;
    background-color: #333;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -8px;
}
#h1{
  color: whitesmoke;
  display: inline-block;
  width: 500px;
}
h2{
  color: grey;
}
a:hover{
    border-bottom: 3px solid red;
    background-color: rgba(31, 29, 29, 0.548);
}

body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  }
p{
      color: #f2f2f2;
}
.aboutus{
  display: block;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  line-height: 30px;
  height: auto;
  position: relative;
  width: 400px;
  font-size: 18px;
  font-weight: 1000;
  color: rgb(240, 224, 224);
}

.column {
    flex: 33.33%;
    padding: 5px;
  }
.row {
    display: flex;
  }
  
img{
    width: 400px;
    height: 400px;
}

/*  */
.container {
    position: flex;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    width: 25%;
  }

  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    word-break: break-all;
    background-color: #6b28283d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
/* Copy Paste for Honda and C63 */
.imageDodge {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middleDodge {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
  }

  
  .container:hover .imageDodge {
    opacity: 0.3;
  }
  
  .container:hover .middleDodge {
    opacity: 1;
  }
  
  .textDodge {
    background-color: #6b28283d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Copy Paste for Mercedes */
  .imageC63 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middleC63 {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  
  .container:hover .imageC63 {
    opacity: 0.3;
  }
  
  .container:hover .middleC63 {
    opacity: 1;
  }
  
  .textC63 {
    background-color: #6b28283d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  /* 
  ----
  GIF
  */
  .gtr{
    position: absolute;
    top: 700px;
    right: 150px;
   width: 600px;
   height: 400px;
   border: solid 2px black;
  }
